<!doctype html>
<html>
  <head>
    <title>Clam</title>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/cards.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style3.css">
    <style> html, body { height:90%; }</style>

  </head>

  <body>
    <table height="100%" width="100%">
      <tr>
        <td align="center" id="container">
          <canvas id="tutorial" width="600" height="600"></canvas>
        </td>
      </tr>
      <tr>
        <td align="center">            
          <form id="animate" action="">
            <input name="speed" value="1000" style="text-align:right">ms
            <button class="myButton">Animate!</button>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>