<!doctype html>
<html>
  <head>
    <title>Clam</title>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://dl.dropboxusercontent.com/u/18927314/favicon2.ico">
    <style> html, body { height:90%; }</style>

  </head>

  <body>
    <section id="login-view">
      <h1> Welcome to Clam! </h1>
      <form>
        <label for="username">Username: </label>
        <input type="text" name="username" action="" id="username"><br>
        <label for="password">Password: </label>
        <input type="text" name="password" action="" id="password">
        <button>Submit </button>
      </form>
      <h1 id="fast-forward" style="cursor:pointer"> Fast Forward </h1>
      
    </section>

    <section id="lobby-view">
      <h1> Lobby </h1>
      Active Games:
      <table id="game-ids">

      </table>

      Open Games:
      <table id="open-game-ids">

      </table>
      <button id='create-game'>Create Game</button>
      <button class="logout">Logout</button>
    </section>

    <section id="wait-view">
      <h1> Waiting Room: </h1> 
      <h3 id="game-id"> </h3>
      <h3 id="host"> </h3>

      <h3> Players: </h3>
      <table id="players-list">

      </table>
      <button id="start-game">Start Game</button>
      <button id="wait-back">Back</button>
      <button class="logout">Logout</button>
    </section>

    <section id="game-view">
      <div id="game-view-left">
        <table id="game-layout">
          <tr>
            <td>
            </td>
            <td colspan="6" style="text-align:center">
              <span style="font-size:30px;font-weight:bold" id="status">It's your turn to pass!</span>
            </td>
          </tr>
        </table>
      </div>
      <div id="game-view-right">
        <div>
          <span style="font-size:30px;font-weight:bold">Notes</span>
        </div>
        <textarea id="notes" rows="10" cols="50"></textarea>
        <div id="history"><div id="history-text">Welcome to Clam<br>dzd123 passed card 3 to P2</div></div>
        <div id="return-buttons">
          <button id="game-back">Back</button>
          <button class="logout">Logout</button>
        </div>
      </div>
    </section>
  </body>
</html>