body {
  font:14px "Lucida Grande" sans-serif;
}

.navbar{
  z-index:3;
}

#game-view {
  display:none;
}
#buttons {
  width:100%;
  height:100%;
}
.game-cell {
  height:30px;
  width:100px;
  text-align:center;
  border-style:solid;
  border-width:1px;
}
#board-layout {
  z-index:1;
}
#lobby-view {
  display:none;
}
#login-view {
}
#lobby-view-nav{
  display:none;
}
.form-signin {
  max-width: 330px;
  padding: 25px;
  margin:auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#new-username, #new-password, #new-confirm-password, #register {
  margin-bottom: 5px;
}

.hero-unit{
  background-color: #eeeeee;
  max-width:95%;
  margin: auto;
  border-radius:5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:left;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:50px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  line-height:30px;
  font-size:18px;
}

.message {
  max-width:95%;
  margin: auto;
  border-radius:5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#dff0d8;
  border: 1px solid;
  border-color: #d6e9c6;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color:#468847;
}

.open-game-cell {
  height:30px;
  width:100px;
  text-align:center;
  border-style:solid;
  border-width:1px;
}
.players-list-cell {
  height:30px;
  width:150px;
  text-align:center;
  border-style:solid;
  border-width:1px;
}
#start-game {
  display:none;
}
#status {
  font-weight:bold;
  font-size:30pt;
}
#wait-view { 
  display:none;
}
.logout {
  z-index:2;
}

/* button stuff */
button, .clickable {
  cursor:pointer;
}

/* card stuff */

.card {
  outline:none;
  color:white;
  text-align:center;
  width:80px;
  height:112px;
  border:1px solid;
  border-radius:10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card.black {
  background-color:#3E4AE5;
}
.card.red {
  background-color:red;
}
.card.selected {
  width:64px;
  height:106px;
  border:solid green 3px;
}
.card.unknown {
/*  -webkit-user-modify:read-write;
  -moz-user-modify:read-write;
  user-modify:read-write;
*/  
}
.card.known {
  font-size:25pt;
}
.card.flipped {
  font-weight:bold;
  font-size:40pt;
}

/* notes stuff */
.notes {
  color: white; background-color: transparent;
  font-style:italic;
  font-size:10pt;
  border:none;
  resize:none;
  outline:none;
  text-align:center;
  width:100%;
  height:75%;
}

/* layout stuff */

#game-layout td {
  padding:0px;
}
#game-layout {
  border-spacing:10px 10px;
}
#game-view-left {
  float:left;
}
#game-view-right {
  float:left;
  margin-left:50px;
  margin-top:15px;
  text-align:center;
}
.player-name {
  width:95px;
  text-align:right;
}
.num {
  width:33px;
  height:33px;
  display:inline-block;
  text-align:center;
  background-color:#894d41;
  border-radius:5px;
  border:1px solid;
  line-height:33px;
  font-weight:bold;
  border-color:black;
  color:white;
  cursor:pointer;
}
.left-num {
  margin-right:10px;
}
#select {
  height:35px;
}
#submit {
  height:35px;
  width:170px;
  font-size:25px;
}
#filler {
  height:35px;
}
#claim {
  width:170px;
  height:35px;
  font-size:25px;
}
#notes {
  width:450px;
  height:235px;
  margin-top:5px;
  resize:none;
  outline:0;
  font-size:20px;
  border-color:black;
}
#history {
  width:455px;
  height:235px;
  border:1px solid;
  margin-top:10px;
  text-align:left;
  max-height:235px;
  overflow-y:scroll;
}
#history-text {
  margin-left:10px;
}
#return-buttons {
  width:450px;
  margin-top:10px;
}
#return-buttons button {
  width:150px;
  height:35px;
  font-size:25px;
}