body{
  font:14px "Lucida Grande" sans-serif;
}

/* view hiding stuff */
#game-view, #lobby-view, #lobby-view-nav, #wait-view-nav, #game-view-nav{
  display:none;
}
.navbar{
  z-index:3;
}
#buttons{
  width:100%;
  height:100%;
}
#board-layout{
  z-index:1;
}
.form-signin{
  max-width:330px;
  padding:25px;
  margin:auto;
}
.form-signin .form-control{
  position:relative;
  height:auto;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding:10px;
  font-size:16px;
}
.form-signin .form-control:focus{
  z-index:2;
}
#new-username, #new-password, #new-confirm-password, #register{
  margin-bottom:5px;
}
.hero-unit{
  background-color:#eeeeee;
  max-width:95%;
  margin:auto;
  border-radius:5px;
  margin-top:10px;
  margin-bottom:10px;
  text-align:left;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:50px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:200;
  line-height:30px;
  font-size:18px;
}
.message{
  max-width:95%;
  margin:auto;
  border-radius:5px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#dff0d8;
  border:1px solid;
  border-color:#d6e9c6;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color:#468847;
}
.scroll-table{
  max-height:400px;
  overflow:auto;
}
#history-container{
  height:440px;
  max-height:440px;
  overflow:auto;
}
#start-game{
  display:none;
}
#status{
  font-weight:bold;
  font-size:30pt;
}
#wait-view{ 
  display:none;
}
.logout{
  z-index:2;
}

/* button stuff */
button, .clickable{
  cursor:pointer;
}
.unclickable, .disabled{
  cursor:default;
}
.disabled{
  opacity:0.2;
}
/* card stuff */

.card{
  outline:none;
  color:white;
  text-align:center;
  width:80px;
  height:112px;
  border:1px solid;
  border-radius:10px;
  -moz-user-select:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.card.black{
  background-color:#3E4AE5;
}
.card.red{
  background-color:red;
}
.card.selected{
  width:64px;
  height:106px;
  border:solid green 3px;
}
.card.known{
  font-size:25pt;
}
.card.flipped{
  font-weight:bold;
  font-size:40pt;
}

/* notes stuff */
.card .notes{
  color:white; background-color:transparent;
  font-style:italic;
  font-size:10pt;
  border:none;
  resize:none;
  outline:none;
  text-align:center;
  width:100%;
  height:75%;
}

/* action button stuff */
#submit, #clam{
  width:150px;
  outline:none;
}

.num{
  width:33px;
  height:33px;
  display:inline-block;
  text-align:center;
  background-color:#894d41;
  border-radius:5px;
  border:1px solid;
  line-height:33px;
  font-weight:bold;
  border-color:black;
  color:white;
  cursor:pointer;
}
.left-num{
  margin-right:10px;
}

/* layout stuff */
#game-layout td{
  padding:0px;
}
#game-layout{
  border-collapse:separate;
  border-spacing:10px 10px;
}
#game-view-left{
  float:left;
}
#game-view-right{
  float:left;
  margin-left:60px;
  margin-top:15px;
  text-align:center;
  width:500px;
}
.player-name{
  width:95px;
  text-align:right;
}
#history{
  table-layout: fixed;
  word-wrap: break-word;
  
  overflow:auto;
}
#history td{
  padding-left:15px;
  padding-right:15px;
}
#history-text{
  margin-left:10px;
}